@charset "utf-8";
/* copyright(c) WEBsiting.co.kr */
/* 새글 스킨 (latest) */

.groupBBtnWR{padding:20px;background:#191919;border:1px dashed #292929; text-align:center;}

.groupBBtnWR a.groupBBtn{display:inline-block;padding:10px 15px;font-size:14px; font-weight:bold;color:#fff; border-radius:5px; background:#333;border:1px solid transparent;margin:2px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.groupBBtnWR a.groupBBtn:hover{border:1px solid #000;background:#333;color:#fff;}

@media all and (max-width:600px)
{
	.groupBBtnWR a.groupBBtn{display:block; position:relative;padding-right:35px;text-align:left;}
	.groupBBtnWR a.groupBBtn i{position:absolute; right:5px;top:50%;margin-top:-10px;width:20px; height:20px; line-height:20px;}
}