@charset "utf-8";

.gall_row figure{overflow:hidden;margin:0;max-width:100%;height:auto;background:#3085a3;text-align:center;cursor:pointer}
.gall_row figure img{position:relative;display:block;min-height:100%;max-width:100%;opacity:.8}
.gall_row figure figcaption{padding:20px;color:#fff;text-transform:uppercase;font-size:1.25em;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.gall_row figure figcaption::before,.gall_row figure figcaption::after{pointer-events:none}
.gall_row figure figcaption,.gall_row figure figcaption>a{position:absolute;top:0;left:0;width:100%;height:100%}
.gall_row figure figcaption>a{z-index:1000;text-indent:200%;white-space:nowrap;font-size:0;opacity:0}
.gall_row figure .post-head{display:block;word-spacing:-0.15em;}
.gall_row figure .post-head,.gall_row figure .desc{margin:0}
.gall_row figure .desc{letter-spacing:1px;font-size:12px;}

figure.bx-grandi{position: relative;background:#2e5d5a}
figure.bx-grandi img{max-width:none;width:-webkit-calc(100%+60px);width:calc(100%+60px);opacity:1;-webkit-transition:opacity .35s,-webkit-transform .35s;transition:opacity .35s,transform .35s;-webkit-transform:translate3d(-30px,0,0) scale(1.12);transform:translate3d(-30px,0,0) scale(1.12);-webkit-backface-visibility:hidden;backface-visibility:hidden}
figure.bx-grandi:hover img{opacity:.5;-webkit-transform:translate3d(0,0,0) scale(1);transform:translate3d(0,0,0) scale(1)}
figure.bx-grandi .post-head{position:absolute;right:0;bottom:0;padding:1em 1.2em}
figure.bx-grandi .desc{padding:0px 10px 0 0;width:100%;border-right:3px solid #fff;text-align:right;opacity:0;-webkit-transition:opacity .35s,-webkit-transform .35s;transition:opacity .35s,transform .35s;-webkit-transform:translate3d(-40px,0,0);transform:translate3d(-40px,0,0)}
figure.bx-grandi:hover .desc{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}