@charset "utf-8";

.gall_row figure{overflow:hidden;margin:0;max-width:100%;height:auto;background:#3085a3;text-align:center;cursor:pointer}
.gall_row figure img{position:relative;display:block;min-height:100%;max-width:100%;opacity:.8}
.gall_row figure figcaption{padding:20px;color:#fff;text-transform:uppercase;font-size:1.25em;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.gall_row figure figcaption::before,.gall_row figure figcaption::after{pointer-events:none}
.gall_row figure figcaption,.gall_row figure figcaption>a{position:absolute;top:0;left:0;width:100%;height:100%}
.gall_row figure figcaption>a{z-index:1000;text-indent:200%;white-space:nowrap;font-size:0;opacity:0}
.gall_row figure .post-head{display:block;word-spacing:-0.15em;}
.gall_row figure .post-head,.gall_row figure .desc{margin:0}
.gall_row figure .desc{font-size:12px;}

figure.bx-grandi{position: relative;background:#2e5d5a}
figure.bx-grandi img{-webkit-transition:opacity .35s,-webkit-transform .35s;transition:opacity .35s,transform .35s;-webkit-transform:scale(1.12);transform:scale(1.12)}
figure.bx-grandi:hover img{opacity:.5;-webkit-transform:scale(1);transform:scale(1)}
figure.bx-grandi figcaption{padding:3em}
figure.bx-grandi figcaption::before{position:absolute;top:30px;right:30px;bottom:30px;left:30px;border:1px solid #fff;content:'';-webkit-transform:scale(1.1);transform:scale(1.1)}
figure.bx-grandi figcaption::before,figure.bx-grandi .desc{opacity:0;-webkit-transition:opacity .35s,-webkit-transform .35s;transition:opacity .35s,transform .35s}
figure.bx-grandi .post-head{padding:20% 0 20px 0}
figure.bx-grandi .desc{margin:0 auto;max-width:200px;-webkit-transform:scale(1.5);transform:scale(1.5)}
figure.bx-grandi:hover figcaption::before,figure.bx-grandi:hover .desc{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
figure.bx-grandi:hover .post-head{display:none}