/* pc top_banner 200410 */

.banner {
	position:relative;
	min-width:1000px;
	height:100px;
	background-color:#2f313d;
    overflow: hidden;
	z-index:999;
    top: 100px;
}
.banner .top_banner {
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-500px;
	width:1000px;
	height:92px;
}
.banner .btn_close {
	position:absolute;
	right:41px;
	bottom:31px;
}
.banner .btn_close label {
	font-size:11px;
	color:#fff;
}
.banner .btn_close button {
	margin:0;
	margin-left:20px;
	padding:0;
	background:none;
	border:0;
}