@charset "utf-8";
/* copyright(c) WEBsiting.co.kr */

strong {font-weight: 600; letter-spacing: -0.03em;}
em {font-style: normal; font-weight: 400; letter-spacing: -0.03em;}
.fa-33 { font-size: 4em !important; color: #fff;} 

.h2_title{padding:8px 20px;border-left:5px solid #ddd;font-size:22px;margin-bottom:20px;line-height:1.3em; color:#efefef;}
.h3_title{padding:8px 20px;border-left:5px solid #ddd;font-size:18px;margin-bottom:20px;line-height:1.3em; color:#ddd;}
.h2_title_center{text-align:center; font-size:30px;padding:8px 20px;margin-bottom:50px;line-height:1.3em; color:#fff;}
.h2_title_center small{display:block;font-size:20px; font-weight:normal; color:#999;line-height:1.3em;}

.cont_text{font-size:14px;line-height:1.6em; color:#999;overflow:hidden;clear:both;padding-bottom:15px;}
.cont_text_info{font-size:14px;line-height:1.6em; color:#999;overflow:hidden;padding:20px;border:2px dashed #333;clear:both;margin-bottom:15px;}
.cont_text_important{padding:8px 20px;border-left:5px solid #999;font-size:16px;color:#957958;line-height:1.3em;}

.cont_img_right50p{display:block;width:50%;float:right; margin:0 0 20px 20px}
.cont_img_left50p{display:block;width:50%;float:left; margin:0 20px 20px 0}


.figure_list{width:100%;overflow:hidden;padding:30px 0;}
.figure_list li{width:25%; float:left; text-align:center;}
.figure_list li i{display:block;margin:10px auto; width:100px; height:100px; line-height:100px; border-radius:50%;background:#ddd; font-size:3em;}
.figure_list li strong{display:block; font-size:20px; color:#fff; margin:5px;}
.figure_list li span{display:block; font-size:13px; color:#999; margin:5px;}

.contents {width:100%;display: block; overflow:hidden;}
.contents h1 {font-size: 3.75rem; line-height: 3.2rem; letter-spacing: -0.03em; color: #000; text-align: center;}
.contents h1 strong {color:#0f4c81; }


/* company_1 */
.contents .company_section01 {width:1280px; text-align:center; padding:90px 0 100px; margin: 0 auto;}
.contents .company_section01 h1 {font-size: 3.75rem; line-height: 3.2rem; letter-spacing: -0.03em; color: #000; }
.contents .company_section01 h1 strong {color:#0f4c81; }
.contents .company_section01 h1 span { display: block; font-size: 1.875rem; font-weight: 200; margin: 0 0 10px;}
.contents .company_section01 dt {color:#0f4c81; font-size:22px; padding:15px 0;}
.contents .company_section01 dd {margin-top:20px; font-size: 1.25rem; font-weight: 200; line-height: 1.875rem;}

.contents .company_section02 {width:100%; min-width:1280px; height:500px; text-align:center; background:url("/img/com_bg.png");background-size:cover;  color:#fff; padding: 90px 0;}
.contents .company_section02 h1 {font-size: 3.75rem; line-height: 3.2rem; letter-spacing: -0.03em; color: #fff;}
.contents .company_section02 h1 span { display: block; font-size: 1.875rem; font-weight: 200; margin: 0 0 10px;}
.contents .company_section02 img {padding: 40px 0 30px 0;}
.contents .company_section02 p {font-size: 1.25rem; font-weight: 200; line-height: 1.875rem; color: #fff width:80%; margin:0 auto;}

.contents .company_section03 {width:1280px; max-width:1200px; padding:100px 0; margin: 0 auto; text-align:center;}
.contents .company_section03 h1 {font-size: 3.75rem; line-height: 3.2rem; letter-spacing: -0.03em; color: #000;}
.contents .company_section03 h1 span { display: block; font-size: 1.875rem; font-weight: 200; margin: 0 0 10px;}
.contents .company_section03 h1 strong {color:#0f4c81; }
.contents .company_section03 ul {display:inline-block; position:relative; left:-15px; text-align:center; margin-top: 50px;}
.contents .company_section03 li {width:360px; height:267px; background-color:#f6f6f6; display:inline-block; margin-left:30px; margin-bottom:30px; padding:60px 0;}
.contents .company_section03 dt {font-size:1.25rem; font-weight:bold; padding:10px 0;}
.contents .company_section03 dd {font-size: 1.125rem; line-height: 1.75rem; font-weight: 200;}

.contents .company_section04 {width:1280px; margin:0 auto; background-color:#f6f6f6; position:relative; overflow:hidden; padding: 80px 0;}
.contents .company_section04 h1 {font-size: 3.75rem; line-height: 3.2rem; letter-spacing: -0.03em; color: #000; text-align: center; margin-bottom: 140px;}
.contents .company_section04 h1 span { display: block; font-size: 1.875rem; font-weight: 200; margin: 0 0 10px;}
.contents .company_section04 h1 strong {color:#0f4c81; }
.contents .company_section04 .box { width:1200px; margin: 0 auto;}
.contents .company_section04 ul {display:inline-block; position:relative; left:-15px; text-align:center;}
.contents .company_section04 li {width:360px; height:267px; background-color:#0f4c81; display:inline-block; margin-left:30px; margin-bottom:30px; padding:60px 0;}
.contents .company_section04 dt {color: #fff; font-size:1.25rem; font-weight:bold; padding:10px 0;}
.contents .company_section04 dd {color: #fff; font-size: 1.125rem; line-height: 1.75rem; font-weight: 200;}
.contents .company_section04_inner {max-width:1200px; margin: 0 auto; overflow:hidden;}
.contents .company_section04 .box { height:800px;}

.contents .company_section04 .cop-computer {float:left;background:url("/img/computer.png") no-repeat;/* background-size:cover;  */background-position:center; width:50%;}
.contents .company_section04 .cop-computer .computer-item{ height:437px; text-align:center; padding-top:34px;}


.contents .company_section04 .rg{float:left;position:relative; left:3%;}
.contents .company_section04 .txt {float:left; margin-top:60px;}
.contents .company_section04 .txt dt {font-size:30px; padding: 10px 0 30px; overflow:hidden;}
.contents .company_section04 .txt dd {font-size:22px;}
.contents .company_section04 .txt dt span {color:#0f4c81;}
.contents .company_section04 .btn { padding-top:285px; width:510px;}
.contents .company_section04 .btn a {display:inline-block;width:160px; padding:7px 0;margin:3px; text-align:center;background:#fff; color:#fff; border-radius:5px; border:1px solid #0f4c81; color:#000; font-size:14px; letter-spacing: 0.5px;}
.contents .company_section04 .btn .active {background:#0f4c81; color:#fff;}


/* consulting */
.number {width: 47px; height: 47px; color: #fff; font-size: 1.5rem; line-height: 1.5rem; font-weight: 600; display: block; margin:0 auto 30px; background: #0f4c81; padding-top: 12px; box-sizing: border-box; text-align: center;}
.contents .consulting { width:1280px; margin: 0 auto;}

.contents li .title { font-size: 1.2rem; line-height: 1.4em;}
.contents > div.consulting > div {margin-top:85px;}
.consulting > div > ul {width:100%; overflow:hiddne; padding:0 0 35px 35px; box-sizing:border-box;}
.consulting > div > ul li {display:inline-block; width:calc(50% - 30px); min-height:204px; padding:0 0 60px 210px; vertical-align:top; position:relative; font-size:1.2rem; line-height:1.875rem; letter-spacing:-0.03em; word-break:keep-all; border-bottom:1px solid #ececec; font-weight: 200;}
.consulting > div > ul li:nth-child(odd) {width:calc(50% - 28px); border-right:1px solid #ececec; padding:0 50px 60px 145px;}
.consulting > div > ul li:nth-child(even) {margin-left:-4px;}
.consulting > div > ul li:nth-of-type(2) ~ li {padding-top:65px;}
.consulting > div > ul li:last-child {min-height:170px; border-bottom:0; padding-bottom:0;} 
.consulting > div > ul li strong {display:block; color:#0f4c81; font-size:1.8rem; margin:10px 0 18px; line-height: 2.0rem;}

/* consulting icon */
.con01 ul li {min-height:125px;}
.con01 ul li:after {content:""; width:121px; height:110px; position:absolute; left:0; top:50%; margin-top:-85px; background:url('../img/icon_01.png') no-repeat center 3px;}
.con01 ul li:nth-of-type(2) ~ li:after {margin-top:-20px;}
.con01 ul li:nth-of-type(2):after {background-position:center -125px; left:65px;}
.con01 ul li:nth-of-type(3):after {background-position:center -250px;}

.con02 ul li {min-height:125px;}
.con02 ul li:after {content:""; width:121px; height:110px; position:absolute; left:0; top:50%; margin-top:-85px; background:url('../img/icon_02.png') no-repeat center 3px;}
.con02 ul li:nth-of-type(2) ~ li:after {margin-top:-20px;}
.con02 ul li:nth-of-type(2):after {background-position:center -125px; left:65px;}
.con02 ul li:nth-of-type(3):after {background-position:center -250px;}

.con03 ul li {min-height:125px;}
.con03 ul li:after {content:""; width:121px; height:110px; position:absolute; left:0; top:50%; margin-top:-85px; background:url('../img/icon_03.png') no-repeat center 3px;}
.con03 ul li:nth-of-type(2) ~ li:after {margin-top:-20px;}
.con03 ul li:nth-of-type(2):after {background-position:center -125px; left:65px;}
.con03 ul li:nth-of-type(3):after {background-position:center -250px;}

.con04 ul li {min-height:125px;}
.con04 ul li:after {content:""; width:121px; height:110px; position:absolute; left:0; top:50%; margin-top:-85px; background:url('../img/icon_04.png') no-repeat center 3px;}
.con04 ul li:nth-of-type(2) ~ li:after {margin-top:-20px;}
.con04 ul li:nth-of-type(2):after {background-position:center -125px; left:65px;}
.con04 ul li:nth-of-type(3):after {background-position:center -250px;}

.process {min-width:1280px; background: #ececec; padding: 140px 0 120px; z-index: 10;}
.process .process_img { width:1280px; margin: 0 auto;}
.process .process_img img {margin-top: 25px;}

/* Product */
.contents .product { width:1280px; text-align: center; padding: 90px 0 100px; margin: 0 auto;}
.contents .product dd { margin-top: 20px; font-size: 1.25rem; font-weight: 200; line-height: 1.875rem;}
.contents .product span {font-weight: 600; color:#0f4c81;}

/* service_1 */

.contents .cnt_box1 {width:1280px; max-width:1280px; margin:0 auto;}
.contents .cnt_box1:after {content:""; display:block; clear:both;}
.box {
	 width:365px;
	 height:255px;
     position: relative;
     top: -81px;
	 box-sizing:border-box;
	 -webkit-box-sizing:border-box;
	 -moz-box-sizing:border-box;
}
.actionImg8 {
	 position:relative;
}
.actionImg8 .back {
	 display:table;
	 position:relative;
	 top:-182px;
	 left:0;
	 width:100%;
	 height:100%;
	 padding:15px;
	 background-color:#0f4c81;
	 color:#fff;
	 text-align:center;
	 box-sizing:border-box;
	 -webkit-box-sizing:border-box;
	 -moz-box-sizing:border-box;
	 transform:rotateY(180deg);
	 opacity:0;
}
.actionImg8 .back .back_inner {
/*	 display:table-cell;*/
	 width:100%;
	 height:100%;
	 /* border:1px solid #fff; */
	 vertical-align:middle;
    position: relative;
/*    top: 100px;*/
}
.actionImg8 .back .back_inner span {
	 display:block;
     width: 300px;
     left: 20px;
     top: 60px;
}

.actionImg8 .back .back_inner .sub_tit {
 
	 color:#fff;
	 font-size:18px;
     position: absolute;

}
.actionImg8 .back .back_inner img{
    position: absolute;
    top: 95px;
    left: 135px;
    padding-top: 10px;
    
}
.actionImg8 .back .back_inner .desc {
	 margin-top:19px;
	 color:#fff;
	 font-size:13px;
     position: absolute;
     padding-top: 50px;
     letter-spacing: 0.3px;
    line-height: 18px;
	font-weight:normal;
}
.actionImg8:hover .back {
	 transform:rotateY(0deg);
	 opacity:1;
	 transition:opacity .3s, transform .6s;
}

.contents .cnt_box1 h1 {font-size:3.75rem; line-height: 3.2rem; letter-spacing: -0.03em; text-align:center; margin: 90px 0 20px 0;}
.contents .cnt_box1 dd { margin-bottom: 50px; font-size: 1.25rem; font-weight: 200; line-height: 1.875rem; text-align: center;}

.contents .cnt_box1 ul {width:100%;  text-align:center; position:relative;  left:1%; }
.contents .cnt_box1 ul li {width: 365px; height:264px; border:1px solid #d6d6d6; padding-top:80px;display:inline-block; margin-right:2.5%; margin-bottom:2.5%;}
.contents .cnt_box1 ul li i {font-size:70px; padding-top: 70px; color:#3d3d3d;}
.contents .cnt_box1 ul li p {font-size: 24px; padding-top: 10px; color:#3d3d3d; font-weight:bold}
.contents .cnt_box1 ul li span {position:absolute; right:5%; font-size:30px; color:#0f4c81;}

.contents .cnt_box2 {width:100%; height:100%; background:#f6f6f6;position:relative; margin-top:150px; clear: both; }
.contents .cnt_box2 .cnt_box2_inner {max-width:1200px; margin:0 auto;}
.contents .cnt_box2 .cnt_box2_inner:after {content:""; display:block; clear:both;}
.contents .cnt_box2 img {float:left; position:relative; top:-90px; padding-right:10%; display:inline-block;}
.contents .cnt_box2 dl { display:inline-block; margin-top:110px; letter-spacing: 1px; }
.contents .cnt_box2 dt {font-size:40px; padding-bottom:50px; font-weight:bold}
.contents .cnt_box2 dd {padding: 7px 0; font-size:15px;}
/* .container .cnt_box2:after {content:""; display:block; clear:both;} */

.contents .cnt_box3 {width:100%; background: url("/img/cnt_bg.png")no-repeat;background-size: cover; position: relative; text-align:center; }

.contents .cnt_box3 .box3_inner {width:1000px; position:relative; height: 650px; padding-top: 100px; margin: 0 auto;}
.contents .cnt_box3 h1 {font-size:35px; text-align:center; padding: 15px 0 70px;}
.contents .cnt_box3 ul {text-align:center; /* overflow:hidden; */ }
.contents .cnt_box3 ul li{display:inline-block;margin-top:20px; width:8%;}
.contents .cnt_box3 ul li p { padding-top:10px;}
.contents .cnt_box3 .arw {position:relative; top:-35px;}
.contents .cnt_box3 .arw2 {width:100%; position:relative; left:41%; padding:20px 0;}