@charset "utf-8";
/* copyright(c) WEBsiting.co.kr */
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
/* 초기화 */
html {overflow-y:scroll}
body {margin:0;padding:0;font-size:0.75em;font-family:'Noto Sans Korean','Malgun Gothic', dotum, sans-serif;background:#fff;/* min-width:280px; */}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:'Noto Sans Korean','Malgun Gothic', dotum, sans-serif}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

ul, dl,dt,dd {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle;font-size:1em}
input, button {margin:0;padding:0;font-family:'Noto Sans Korean','Malgun Gothic', dotum, sans-serif;font-size:1em}
input[type="submit"],
button {cursor:pointer; -webkit-appearance: none; -webkit-border-radius: 0;}


textarea, select {font-family:'Noto Sans Korean','Malgun Gothic', dotum, sans-serif;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a {color:#000;text-decoration:none}
img{max-width:100%;}
.draggable{height:auto !important;}
.clb{clear:both;}
.center{text-align:center;}
*, :after, :before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

input[type=text],input[type=password], textarea {-webkit-transition: all 0.30s ease-in-out;-moz-transition: all 0.30s ease-in-out;-ms-transition: all 0.30s ease-in-out;-o-transition: all 0.30s ease-in-out;outline: none;}
input[type=text]:focus,input[type=password]:focus,  textarea:focus,select:focus {-webkit-box-shadow:  0 0 5px #9ed4ff;-moz-box-shadow:  0 0 5px #9ed4ff;box-shadow: 0 0 5px #9ed4ff;border: 1px solid #558ab7 !important;}
.placeholdersjs { color: #aaa !important; }

/* 팝업레이어 */
#hd_pop {position:absolute; left:0px; top:0px; z-index:1000;width:100%;height:0}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff;max-width:90%;}
.hd_pops img{max-width:100%}
.hd_pops_con {max-width:100%;}
.hd_pops_footer {padding: 0;background:#000;color:#fff;text-align:left;position:relative;}
.hd_pops_footer:after {display:block;visibility:hidden;clear:both;content:""}
.hd_pops_footer button {padding: 10px;border:0;color:#fff}
.hd_pops_footer .hd_pops_reject{background:#000;text-align:left}
.hd_pops_footer .hd_pops_close{background:#393939;position:absolute;top:0;right:0}
@media all and (max-width: 980px)
{	
	#hd_pop  .hd_pops{left:5% !important; top:70px !important;max-width:90% !important;}
	.hd_pops_con{height:auto !important;}
	.hd_pops_footer{font-size:11px;letter-spacing:-0.05px;}

}

/* 상단 레이아웃 */
#hd {min-width:320px; position:fixed; width:100%; left:0px; top:0px; z-index:9999; background:#000; /* opacity:0.8; */}
#hd_h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}

#hd_wrapper {position:relative;margin:0 auto;padding:0px 0;width:100%;zoom:1}
#hd_wrapper:after {display:block;visibility:hidden;clear:both;content:""}

#sbn_side{position:absolute;top:20px;right:0}

#tnb {width:100%;max-width:1200px;margin:0 auto;}
#tnb h3 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#tnb ul {margin:0 auto;width:100%px;zoom:1}
#tnb ul:after {display:block;visibility:hidden;clear:both;content:""}
#tnb li {float:right;margin-bottom:-1px;font-size:0.92em}
#tnb a {display:inline-block;padding:0 10px;color:#666;height:35px; line-height:35px}
#tnb a:focus, #tnb a:hover {color:#fff;}
#tnb .tnb_admin a{color:#ff0000;}
#tnb .tnb_left{float:left}
#tnb .tnb_left a{;padding:0 14px}
#tnb .tnb_cart{border-right:1px solid #ddd;}
#tnb .tnb_community{border-right:1px solid #ddd}
#tnb .tnb_community i{font-size:15px}
#tnb .tnb_community{background:#e7e7e7;font-weight:bold;}
#tnb .tnb_community:focus, #tnb .tnb_community:hover {color:#333;border-bottom:0}
#tnb .tnb_community a{color:#253dbe;border-bottom:1px solid #e7e7e7}
#tnb .tnbIco{font-size:18px;}

#hd_qnb{float:right;margin-top:20px}
#hd_qnb:after {display:block;visibility:hidden;clear:both;content:""}
#hd_qnb li{float:left;font-size:1.083em;line-height:15px;position:relative;text-align:center;margin:0 10px}
#hd_qnb li span {display:block;margin-top:5px;font-size:0.92em}
#hd_qnb li a{display:block}
#hd_qnb li i{display:inline-block;width:40px;line-height:40px;border-radius:25px;background:#fff;text-align:center;margin:0;color:#fff}
#hd_qnb .visit .visit-num{display:inline-block;line-height:18px;padding:0 5px;border-radius:10px;background:#f04e00;color:#fff;font-size:10px;position:absolute;top:0;right:0}
#hd_qnb li .fa-question{background:#e83a5f;font-size:20px}
#hd_qnb li .fa-question:hover{background:#e41b45}
#hd_qnb li .fa-comments{background:#82c13f;font-size:16px}
#hd_qnb li .fa-comments:hover{background:#5aa708}
#hd_qnb li .fa-users{background:#f0ba00;font-size:15px}
#hd_qnb li .fa-users:hover{background:#f06f00}
#hd_qnb li .fa-history{background:#8522c4;font-size:15px}
#hd_qnb li .fa-history:hover{background:#6700a9}

#btnSchbox i {color:#fff;} /* search 아이콘 */

/* 메인메뉴 */
#logo {float:left; position:relative; left:45px;}
#logo a{display:block;padding:20px 20px 20px 0;}
#logo img{display:block;height:40px;width:auto;}




#gnb{position:relative; /* border-bottom:1px solid #e2e2e2; */ padding:10px;}
#gnb .pb-btn {display:inline-block; padding:12px 0 0 0; }

#gnb h2{position:absolute;font-size:0;line-height:0;overflow:hidden}
#gnb .gnb_wrap{margin:0 auto;width:100%; /* max-width:1200px; */position:relative;}
#gnb #gnb_1dul {float:right; font-size:1.083em;padding: 0;zoom:1; position:relative; right:45px;}
#gnb ul:after {display:block;visibility:hidden;clear:both;content:""}
#gnb .gnb_1dli{float:left;position:relative;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}

#gnb .gnb_1dli .gnb_1da{height:80px;line-height:80px;padding:0 40px; font-size:19px; color:#fff;position:relative;}
#gnb .gnb_1dli:hover .gnb_1da{color:#fff;}
#gnb .gnb_1dli .gnb_1da u{display:block;width:1px;height:3px;position:absolute;left:50%;bottom:0px;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
#gnb .gnb_1dli:hover .gnb_1da u{background:#0288AB;width:50%;margin-left:-25%;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}

.gnb_1dli .bg{display:inline-block;width:0px;height:0px;overflow:hidden;text-indent:-999px}
.gnb_1da {display:inline-block;font-weight:bold;color:#fff;text-decoration:none;}

.gnb_2dul {display:none;position:absolute;top:80px; left:50%; margin-left:-90px;width:180px;background:#fff;padding: 0; border:1px solid #333; background:#333; border-top:0px; overflow:hidden;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
#gnb .gnb_1dli:hover .gnb_2dul{display:block;}
.gnb_2dli{border-top:1px solid #2b2b2b; width:100%; -webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
.gnb_2dli:first-child{border:0}
.gnb_2da {display:block;padding:13px;line-height:1.4em;color:#cecece; text-align:left;text-decoration:none;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
a.gnb_2da:hover{background:#000; color:#fff;padding-left:18px;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}

.gnb_1dli_air .gnb_2da {}
.gnb_1dli_on .gnb_2da {}
.gnb_2da:focus, .gnb_2da:hover {color:#fff}
.gnb_1dli_over .gnb_2dul {display:block;}
.gnb_1dli_over2 .gnb_2dul {display:block;}
.gnb_wrap .gnb_empty {height:80px;;width:100%;text-align:center;line-height:80px;color:#666}
.gnb_wrap .gnb_empty a{color:#000;text-decoration:underline}
.gnb_wrap .gnb_al_ul .gnb_empty, .gnb_wrap .gnb_al_ul .gnb_empty a{color:#555}

.allSchBoxWr{z-index:9999;}

#btnSchbox{display:block;height:80px;line-height:80px; padding:0 20px; font-size:20px;cursor:pointer;border:0px;background:transparent;}
#allSchBox{display:none; position:absolute;right:0px; top:50%; margin-top:-20px;}
#allSchBox fieldset{position:relative; width:250px;border:2px solid #000;background:#fff; overflow:hidden;}
#allSchBox fieldset #sch_stx{border:0px;width:100%;height:40px;padding-left:10px;}
#allSchBox fieldset #sch_submit{width:40px;height:40px; line-height:40px; position:absolute; right:40px; top:0px; background:none; border:0px; color:#000; font-size:18px; text-align:center;}
#allSchBox fieldset #allSchBoxClose{width:40px;height:40px; line-height:40px;position:absolute; right:0px; top:0px; background:#000; color:#fff; font-size:18px; text-align:center; cursor:pointer;}

/* 중간 레이아웃 */
#ctWrap{width:100%;}

#page_title {width:100%;text-align:center; background-color:#fff; color:#fff; /* background-size:100%;  */background-position:center center;background-repeat:no-repeat;overflow:hidden;}
#page_title .page_title_in{padding:176px 20px; background:RGBA(0,0,0,0.3); height:100%;}
#page_title .page_title_in h2{margin:0 auto; width:90%; max-width:1100px;text-align:center; position:/* relative; top:80px; */}
#page_title .page_title_in h2 > strong{display:block; font-size:40px;height:80px; padding:0 0 10px 0;width:100%;margin:0 auto;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-shadow: RGBA(0,0,0,.5) 0px 0px 10px;text-shadow: RGBA(0,0,0,.5) 0px 0px 10px 10px;}
#page_title .page_title_in h2 .locationBar {filter:Alpha(opacity=80); opacity:0.8; -moz-opacity:0.8;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-shadow: RGBA(0,0,0,.5) 0px 0px 10px;text-shadow: RGBA(0,0,0,.5) 0px 0px 10px 10px;}
#page_title .page_title_in h2 .locationBar span{display:inline-block; font-weight:normal; font-size:12px;}
#page_title .page_title_in h2 .locationBar  i{display:inline-block;margin:0 5px;}
#page_title .page_title_in h2 .locationBar  em,
#page_title .page_title_in h2 .locationBar  i{filter:Alpha(opacity=90); opacity:0.9; -moz-opacity:0.9;}
.pgLoadStand{height:1px;-webkit-transition-duration: 0.3s;-webkit-transition-timing-function: ease;transition-duration: 0.3s;transition-timing-function: ease;}
.pgLoadOK{height:auto !important;-webkit-transition-duration: 0.6s;-webkit-transition-timing-function: ease;transition-duration: 0.6s;transition-timing-function: ease;}


#page_title.subTopBg_0,
#page_title.subTopBg_00{background-image:URL("../img/m_subTopBg_0.jpg"); width: 100%;} /* 메뉴설정이 없는 페이지에서 출력될 이미지 : 해당 테마의 img 폴더에 업로드하시기 바랍니다. */
#page_title.subTopBg_01{background-image:URL("../img/m_subTopBg_01.jpg"); width: 100%;} /* 첫번째 대메뉴에서 출력될 이미지 */
#page_title.subTopBg_02{background-image:URL("../img/m_subTopBg_02.jpg"); width: 100%;} /* 두번째 대메뉴에서 출력될 이미지 */
#page_title.subTopBg_03{background-image:URL("../img/m_subTopBg_03.jpg"); width: 100%;} /* 세번째 대메뉴에서 출력될 이미지 */
#page_title.subTopBg_04{background-image:URL("../img/m_subTopBg_04.jpg"); width: 100%;} /* 네번째 대메뉴에서 출력될 이미지 */
#page_title.subTopBg_05{background-image:URL("../img/m_subTopBg_05.jpg"); width: 100%;} /* 다섯번째 대메뉴에서 출력될 이미지 */
#page_title.subTopBg_06{background-image:URL("../img/m_subTopBg_06.jpg"); width: 100%;} /* 여섯번째 대메뉴에서 출력될 이미지 */
#page_title.subTopBg_07{background-image:URL("../img/m_subTopBg_07.jpg"); width: 100%;} /* 일곱번째 대메뉴에서 출력될 이미지 */
#page_title.subTopBg_0N{background-image:URL("");} /* n번째 대메뉴에서 출력될 이미지를 추가해 주세요 */

#container {width:100%;min-height:200px;height:auto !important;height:auto; font-size:1em;zoom:1;}
#container:after {display:block;visibility:hidden;clear:both;content:""}

table { width: 90%; margin-bottom: 40px;}
table tr td { padding: 3px;}

#sideBar {float:left;width:20%; display:none;}

	#snb{width:100%; margin-top:-50px;}
	#snb {width:100%;}
	#snb > li.snb{width:100%;display:none;}
	#snb > li.snb.active{display:block !important;}
	#snb > li > h2{width:0%;background:#000;}
	#snb > li > h2 a{display:block;background:#fff; text-align:center; padding:0px 10px; color:#fff;}
	#snb > li > h2 a b{display:block;font-size:18px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
	#snb > li > h2 a sub{display:block;padding-top:10px;font-family:vardana;font-size:12px;letter-spacing:0.05em;font-weight:normal;filter:Alpha(opacity=50); opacity:0.5; -moz-opacity:0.5;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
	#snb > li .snb2dDown{display:none;}

	#snb > li > ul{}
	#snb > li > ul > li{border-bottom: 1px solid #ddd;}
	#snb > li > ul > li a{display:block;padding:15px;color:#666;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
	#snb > li > ul > li a b{font-size:13px;}
	#snb > li > ul > li a:hover{background:#f3f3f3;padding-left:20px;color:#000;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
	#snb > li > ul > li.snb2d.active a{background:#ddd;color:#000;}
	#snb > li > ul > li a{overflow:hidden;}
	#snb > li > ul > li a i{float:right;}

	.snbCS{border:1px solid #ddd; padding:20px;}
	.snbCS dt{padding-bottom:10px;font-size:16px; font-weight:bold; color:#333;}
	.snbCS dd{font-size:11px;color:#999;}
	.snbCS dd strong{display:block;font-size:18px; padding-bottom:10px; color:#666;}
	.snbCS dd b{display:block;font-size:11px;}

/* 하단 레이아웃 */
#footer {clear:both; background:#000;padding:50px 15px 95px 15px;text-align:center; /*margin-top:100px;*/}
#footer > dl{width:100%; text-align:center;}
#footer > dl > dt{width:100%; text-align:center;}
#footer > dl > dt img{display:block;margin:0 auto; height:20px;width:auto;}
#footer > dl > dd{padding:15px 0;}
#footer > dl > dd a{display:inline-block;padding:5px; color:#636363;font-size:16px; font-weight:bold;}
#footer > dl > dd a:hover{color:#0f4c81;}
#footer address{font-size:.875rem;font-style:normal;color:#666;}
#footer address span{display:inline-block;padding:2px 5px;}
#footer address em{display:inline-block;color:#999;padding:2px 0;}
#footer p{color:#999;font-size:.875rem;font-family:verdana;padding-top:15px;}


.btn_estimate { background:url('../img/btn_proposal_bg.jpg') center top no-repeat;}


#top_btn ,
#top_btn:hover{position:fixed;bottom:20px;right:20px;width:40px;height:40px;line-height:40px;border-radius:50%; border:2px solid #ddd;color:#666;text-align:center;font-size:15px;z-index:999;background:rgba(255,255,255,0.5)}

#topID{display:block; position:absolute; left:0px; top:2px;}
.dashHr{display:block;clear:both;margin:30px 0;border:0px;border-top:3px dashed #ddd;}

.term_area{width:100%;position:relative;max-width:600px;}
.term_area header{position:absolute;left:0px;right:0px;top:0px;height:40px; background:#242424;color:#fff;}
.term_area header h1{font-size:16px; padding:0 10px;height:40px; line-height:40px;}
.term_area section{padding:50px 10px 30px 10px;overflow:auto;}
.term_area section p{padding:20px;white-space:pre-line;font-size:12px;color:#666;}
.term_area footer{position:absolute;left:0px;right:0px;bottom:0px;height:30px; line-height:30px;background:#ddd;color:#999;font-family:verdana;font-size:11px;text-align:center;}

/* TRANS */
.transOJ,
.transOJ:hover{-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}

/* 레이어팝업 */

.noEmail{border:0px;width:100%; max-width:400px; background:#fff; text-align:center;}
.noEmail h3{font-size:18px;padding:20px;color:#000;text-align:center;}
.noEmail h4{padding:20px 0; font-size:11px; color:#666; text-align:center;}
.noEmail p{padding:20px; color:#999; font-size:12px; text-align:left;}


/* 게시물 선택복사 선택이동 */
#copymove {}
#copymove  .win_desc {text-align:center;display:block}
#copymove  .tbl_wrap{margin:20px }
#copymove  .win_btn{padding:0 20px 20px}
.copymove_current {float:right;background:#ff3061;padding:5px;color:#fff;border-radius:3px}
.copymove_currentbg {background:#f4f4f4}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
/* 본문 바로가기 */
#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}

/* ie6 이미지 너비 지정 */
.img_fix {width:100%;height:auto}

/* 캡챠 자동등록(입력)방지 기본 -pc */
#captcha {display:inline-block;position:relative;}
#captcha legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;}
#captcha #captcha_img {;height:40px;border:1px solid #898989;;vertical-align:top;padding:0;margin:0}
#captcha #captcha_mp3 {;margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha2.png') no-repeat;text-indent:-999px;;border-radius:3px}
#captcha #captcha_reload {margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha2.png') no-repeat  0 -40px;text-indent:-999px;border-radius:3px}
#captcha #captcha_key {margin:0 0 0 3px;padding:0 5px;width:90px;height:40px;border:1px solid #ccc;background:#fff;font-size:1.333em;font-weight:bold;text-align:center;border-radius:3px;vertical-align:top}
#captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}

/* 캡챠 자동등록(입력)방지 기본 - mobile */
#captcha.m_captcha audio {display:block;margin:0 0 5px;width:187px}
#captcha.m_captcha #captcha_img {;height:40px;border:1px solid #898989;;vertical-align:top;padding:0;margin:0}
#captcha.m_captcha #captcha_reload {position:static;margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha2.png') no-repeat  0 -40px;text-indent:-999px}
#captcha.m_captcha #captcha_reload span{display:none;}
#captcha.m_captcha #captcha_key {margin:0 0 0 3px;padding:0 5px;width:90px;height:40px;border:1px solid #ccc;background:#fff;font-size:1.333em;font-weight:bold;text-align:center;border-radius:3px;vertical-align:top}
#captcha.m_captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}
#captcha.m_captcha #captcha_mp3 {width:31px;height:31px;background:url('../../../img/captcha2.png') no-repeat 0 0 ;  vertical-align:top;overflow:hidden;cursor:pointer;text-indent:-9999px;border:none}

/* ckeditor 단축키 */
.cke_sc {margin:0 0 5px;text-align:right}
.btn_cke_sc{display:inline-block;padding:0 10px;height:23px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;line-height:1.9em;vertical-align:middle;cursor:pointer}
.cke_sc_def {margin:0 0 5px;padding:10px;border:1px solid #ccc;background:#f7f7f7;text-align:center}
.cke_sc_def dl{margin:0 0 5px;text-align:left;zoom:1}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt, .cke_sc_def dd {float:left;margin:0;padding:5px 0;border-bottom:1px solid #e9e9e9}
.cke_sc_def dt {width:20%;font-weight:bold}
.cke_sc_def dd {width:30%}

/* ckeditor 태그 기본값 */
#bo_v_con ul{display: block;list-style-type: disc;margin-top: 1em;margin-bottom: 1em;margin-left: 0;margin-right: 0;padding-left: 40px;}
#bo_v_con ol{display: block;list-style-type: decimal;margin-top: 1em;margin-bottom