@charset "utf-8";
/* copyright(c) WEBsiting.co.kr */

/* 메인페이지에서 변경되는 코드 */
#sideBar,
#topSpacer{display:none;}
#ctWrap{width:100%;max-width:100%;margin:0 auto !important;}
#hd{background:RGBA(0,0,0,0.3)}
strong {font-weight: 600; letter-spacing: -0.03em;}
em {font-style: normal; font-weight: 400; letter-spacing: -0.03em;}



/* 메인페이지 비쥬얼 */
.mainImg {display:table; width:100% !important; height:100%; position:relative; background: url('/img/main_banner.jpg')center top no-repeat; overflow:hidden; padding:0px;margin:0px; top:-15px;}
.mainImg .video {width:100%; height:inherit;}
.mainImg .main_vidio { display:table-cell; position:relative; z-index:-9999;}

.main-txt{display:table-cell; text-align:center; width:100%; height:100%;}
.main-txt .tit { width: 55%; position: absolute; top:30%; left:50%; transform:translateX(-50%);}
.main-speedform{display:table-cell; position:absolute; bottom:10%; width:100%; margin:0 auto;}

.fa-3 { font-size: 4em !important; color: #0f4c81;} 

/* form */
form {margin:0 auto; width:60%;}
fieldset ul {text-align:center; margin-left:-8px;}
fieldset ul li {display:inline-block; width:284px; margin-left:7px;}
fieldset ul li input{ height:42px; width:100%; background-color:#fff;padding-left:10px; border:none; opacity:0.7;}
.tex_area textarea{width:872px;height:150px; background-color:#fff;  text-align:center; padding-top:65px; border:none; opacity:0.7; position:relative; top:10px; left:0px;}
.checkbox {color:#fff;text-align:left; margin-left:163px; padding-top:20px;}
.btn-area {text-align:center; padding-top:10px;}
.btn-area a{font-size: 15px; font-weight: bold; color:#fff; position:relative; left:65px; top:-7px;}
.btn-area img {position:relative;left:-25px; margin-top:10px;}


@media all and (max-width:980px)
{
	#hd,
	#hd #tnb,
	#hd #gnb{background:#000;}
	#topSpacer{display:block;}
}

@media all and (max-width:800px)
{
/* 	.mainVisualImage .bx-wrapper .bx-pager{bottom:10px !important;}
	.mainVisualImage .bx-wrapper .bx-pager a{width:10px;height:10px !important; margin:0 2px;}
	.mainVisualImage .bx-wrapper .bx-pager.bx-default-pager a.active{width:20px !important;}
	
	.mainVisualImage .bx-wrapper ul > li{width:100%; overflow:hidden;}
	.mainVisualImage .bx-wrapper ul > li img{width:160% !important; max-width:160% !important; margin-left:-30%;} */

	
	.mvTit{font-size:22px;}
/* 	.mvTit02 {top:45% !important;}
	.mvTit02 .mvTit02txt{font-size:18px;}
	.mvTit02 .mvLink{width:120px;padding:5px;font-size:11px;font-weight:normal;} */

}

@media all and (max-width:400px)
{
	.mvTit{font-size:18px;}

}
 




/*About Us*/
.mainAbout {max-width:1200px; width:100%  position:relative; overflow:hidden; margin:0 auto; }
.mainAbout .pb { margin-top: 50px;}
.mainAbout ul {display: inline-block; position:relative; left:-15px; text-align: center;}
.mainAbout li {width:360px; height: 300px; background-color: #f6f6f6; display: inline-block; margin-left: 30px; margin-bottom: 30px; padding: 60px 0;}
.mainAbout dt {font-size: 1.25rem; font-weight: bold; padding: 10px 0;}
.mainAbout dd { font-size: 1.15rem; line-height: 1.6rem; font-weight: 200;}




@media all and (max-width:980px)
{
.mainAbout {width:750px;}
.mainAbout .ma_con {width:250px}
}

@media all and (max-width:650px)
{
.mainAbout {width:100%; padding-top:30px}
.mainAbout .ma_con {width:100%}
.mainAbout .ma_con .ma_txt01 {font-size:16px; margin:5px 0 7px 0;}
.mainAbout .ma_con .ma_txt02 {font-size:12px; margin-bottom:10px}
.mainFourLatArea .MTLA01,
	.mainFourLatArea .MTLA02,
	.mainFourLatArea .MTLA03,
	.mainFourLatArea .MTLA04{width:100%;float:none;margin-left:0px;}
}


/* 그래프 이미지 */
.re_full { position: relative; width:1920px; left:50%; margin-left: -960px;}


/* 실적사례 롤링배너 (기존)
.top-content { position: relative; width:100%; height: 450px; background: #2f313d;}
.top-content .container { width:1200px; margin:0 auto; padding: 60px 0;}*/

.top-content { position: relative; width:100%; height: 400px; background: #2f313d;}
.top-content .container { width:1200px; margin:0 auto; padding: 60px 0;}
.top-content .container img { width:100%; height: auto;}


/* 메인 컨텐츠 레이아웃 */
.mainContents{width:100%; max-width:1200px; margin:0 auto; overflow:hidden;clear:both; padding:60px 0;}

.port {color:#0f4c81; font-weight: bold; font-size: 3.75rem; line-height: 3.2rem; letter-spacing: -=0.03em; text-align: center; padding:80px 0 0; 0;}
.port h1 span { color: #000; display: block; font-size: 1.875rem; font-weight: 200; margin:0 0 10px;}


.mainContentsW100{width:100%; height:100%; clear:both;overflow:hidden;}
.mainContentsW100 h2{color:#fff; font-size: 3.75rem; line-height: 3.2rem; letter-spacing: -0.03em; text-align:center; padding-top:80px; margin-top:-10px}

.galleryBoxLat .galleryLatTit {display:none}
.latTitNone .galleryLat,
.latTitNone .galleryBoxLat{margin:0px;padding:0px;}
.latTitNone .galleryBoxLat ul{margin:0px;padding:0px;}
.latTitNone .galleryLat ul li,
.latTitNone .galleryBoxLat ul li{width:25%;}
.latTitNone .galleryLat .galleryLatTit,
.latTitNone .galleryBoxLat .galleryLatTit{height:1px;overflow:hidden;margin-top:-1px;}
.latTitNone.btnMoreNone .lt_more{display:none;} 

.contact-bg{background-color:#f3f3f3; padding-bottom:100px; padding-top:100px; } 
.contact-bg h2{color:#000; font-size:44px;font-family:'Noto Sans Korean',sans-serif;text-align:center}
.contact-bg p{font-size:16px;color:#666;line-height:1.5em;text-align:center; padding-bottom:50px}

.contact-section {
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
	height: 500px;
    position: relative;
	width:90%;
	margin:0 auto;
/*     min-width: 960px; */
}
.contact-map {
    position: absolute;
	width:100%;
    top: 0;
    bottom: 0;
}
.contact-map .static-map {
    position: absolute;
    right: 0;
}

@media all and (max-width:650px)
{
	.mainContentsW100 .galleryLat ul li,
	.mainContentsW100 .galleryBoxLat ul li{width:33.33333333%;}
	.mainContentsW100 .galleryLat ul li:last-child,
	.mainContentsW100 .galleryBoxLat ul li:last-child{display:none;;}
	.mainContentsW100 h2 {font-size:24px; padding-top:40px}
}


/* 2단레이아웃 */
.mainTwoLatArea{width:100%;margin:0 auto; overflow:hidden;}
.mainTwoLatArea .MTLA01,
.mainTwoLatArea .MTLA02{width:50%;float:left;margin-left:-1px;}

@media all and (max-width:850px)
{
	.mainTwoLatArea{padding:0 15px;}
	.mainTwoLatArea .MTLA01,
	.mainTwoLatArea .MTLA02{width:100%;float:none;}
}

/* 3단레이아웃 */
.mainThreeLatArea{width:100%;margin:0 auto; overflow:hidden;}
.mainThreeLatArea .MTLA01,
.mainThreeLatArea .MTLA02,
.mainThreeLatArea .MTLA03{width:30%;float:left;margin-left:-1px;}
.mainThreeLatArea .MTLA02{margin:0 5%;}

@media all and (max-width:850px)
{
	.mainThreeLatArea{padding:0 15px;}
	.mainThreeLatArea .MTLA01,
	.mainThreeLatArea .MTLA02,
	.mainThreeLatArea .MTLA03{width:100%;float:none;}
	.mainThreeLatArea .MTLA02{margin:0 0;}
}

/* 4단 레이아웃 */
.mainFourLatArea{width:100%;margin:0 auto; overflow:hidden;}
.mainFourLatArea .MTLA01,
.mainFourLatArea .MTLA02,
.mainFourLatArea .MTLA03,
.mainFourLatArea .MTLA04{width:25%;float:left;margin-left:-1px;}




/* 메인컨텐츠 상세 */
.centerBar{width:80px;height:5px;background:#ddd;margin:30px auto;}

.mainBasicCont01{width:100%;padding:80px 20px;text-align:center; background:#fff;}
.mainBasicCont01 h2{color: #0f4c81;  font-size:3.75rem; line-height: 3.2rem; letter-spacing: -0.03em;}
.mainBasicCont01 h3{color:#000; font-size: 1.875rem; font-weight: 600;}
.mainBasicCont01 .MBC01txt{font-size: 1.25rem; font-weight: 200; line-height: 1.875rem;}




@media all and (max-width:700px)
{
	.mainBasicCont01{width:100%;padding:50px 20px;}
	.mainBasicCont01 h2{font-size:24px;}
	.mainBasicCont01 h3{font-size:13px; font-weight:normal;}
	.mainBasicCont01 .MBC01txt{text-align:center; font-size:12px;}

	.contact-bg h2 {font-size: 3.75rem !important; line-height: 3.2rem; letter-spacing: -0.03em; color:#000; padding-bottom:0px; margin-top:-20px}
	.contact-bg p {line-height: 1.25rem;  font-size:.875rem; text-align:center;}

	 

}
/* 어두운배경일 때 */
.background-dark{position:relative; 
    background: url("../img/bak2.png")no-repeat;
    background-size: cover;
	height:1000px;
}
.background-dark .webzLatTit a,
.background-dark .basicLatTit a,
.background-dark .qnaLatTit a{color:#fff;}
.background-dark ul li{}
.background-dark ul li a{color:#ddd;}



/* 밝은배경일 때 */
.background-light{background:#f3f4f7;}





/* 매인 4단 아이콘 */
.main_figure_list{width:100%;height:700px; overflow:hidden;}
.main_figure_list li{width:33%; float:left; text-align:center;border-bottom:0px; padding-bottom:30px;}
.main_figure_list li i{color:#000; display:block;margin:10px auto; width:100px; height:100px; line-height:100px; border-radius:50%;background:#fff; font-size:3em;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
.main_figure_list li:hover i{/* background:#000;  color:#fff; */transform: rotate(360deg);-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
.main_figure_list li strong{display:block; font-size: 1.25rem; font-weight: bold; color:#fff; margin:10px;}
.main_figure_list li span{display:block; color:#fff; font-size: 1.15rem; line-height: 1.6rem; font-weight: 200; margin:5px;}



@media all and (max-width:650px)
{	.main_figure_list {padding:0px;  }
	.main_figure_list li{width:50%; float:left; text-align:center;}
	.main_figure_list li i{display:block;margin:10px auto; width:100px; height:100px; line-height:100px; border-radius:50%;background:#fff; font-size:3em;}
	.main_figure_list li strong{font-size:16px;}
	.main_figure_list li span{font-size:11px;}
	
}