@charset "utf-8";
/* copyright(c) WEBsiting.co.kr */

/* 메인페이지에서 변경되는 코드 */
#sideBar,
#topSpacer{display:none;}
#ctWrap{width:100%;max-width:100%;margin:0 auto !important;}
#hd{background:RGBA(0,0,0,0.3)}
strong {font-weight: 600; letter-spacing: -0.03em;}
em {font-style: normal; font-weight: 400; letter-spacing: -0.03em;}



/* 메인페이지 비쥬얼 */
.mainImg {display:table; width:100% !important; height:100%; position:relative; background: url('/img/main_banner.jpg')center top no-repeat; overflow:hidden; padding:0px;margin:0px; top:-15px;}
.mainImg .video {width:100%; height:inherit;}
.mainImg .main_vidio { display:table-cell; position:relative; z-index:-9999;}

.main-txt{display:table-cell; text-align:center; width:100%; height:100%;}
.main-txt .tit { width: 50%; position: absolute; top:30%; left:50%; transform:translateX(-50%);}
.main-speedform{display:table-cell; position:absolute; bottom:10%; width:100%; margin:0 auto;}
/* 추가 메인 psk8125 */
#main_visual_re {overflow: hidden; position:relative;width:100%; height:935px;}
#main_visual_re .bx-visual-wrap {position:absolute; top:0; left:50%; width:2000px; height:935px; margin-left:-1000px;background: url('/img/main_banner.jpg')center top no-repeat}
#main_visual_re .main-txt{ border:5px solid #fff; text-align:center; width:100%; height:100%;}
#main_visual_re .main-txt .tit { position: absolute; top:30%; left:50%; transform:translateX(-50%);}


.fa-3 { font-size: 4em !important; color: #0f4c81;} 

/* form */
form {margin:0 auto; width:60%;}
fieldset ul {text-align:center; margin-left:-8px;}
fieldset ul li {display:inline-block; width:284px; margin-left:7px;}
fieldset ul li input{ height:42px; width:100%; background-color:#fff;padding-left:10px; border:none; opacity:0.7;}
.tex_area textarea{width:872px;height:140px; background-color:#fff;  text-align:center; padding-top:65px; border:none; opacity:0.7; position:relative; top:10px; left:0px;}
.checkbox {color:#fff;text-align:left; margin-left:163px; padding-top:10px;}
.btn-area {text-align:center;}


.btn-area .btn_consul {
	clear:both;
	font-size:15px;
	/*font-weight:bold;*/
	display:inline-block;
	padding:5px 50px;
	color:#ddd;
	border-radius:50px;
	text-align:center;
	margin:20px auto 0;
	background:#333;
	border:2px solid #444;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-timing-function: ease;	
}
.btn-area .btn_consul:hover{
	color:#fff;
	border:2px solid #000;
	background:#000;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}




/*About Us*/
.mainAbout {max-width:1200px; width:100%  position:relative; overflow:hidden; margin:0 auto; }
.mainAbout .pb { margin-top: 50px;}
.mainAbout ul {display: inline-block; position:relative; left:-15px; text-align: center;}
.mainAbout li {width:360px; height: 300px; background-color: #f6f6f6; display: inline-block; margin-left: 30px; margin-bottom: 30px; padding: 60px 0;}
.mainAbout dt {font-size: 1.25rem; font-weight: bold; padding: 10px 0;}
.mainAbout dd { font-size: 1.15rem; line-height: 1.6rem; font-weight: 200;}




/* 그래프 이미지 */
.re_full { position: relative; width:1920px; left:50%; margin-left: -960px;}


/* 실적사례 롤링배너 (기존)
.top-content { position: relative; width:100%; height: 450px; background: #2f313d;}
.top-content .container { width:1200px; margin:0 auto; padding: 60px 0;}*/

.top-content { position: relative; width:100%; height: 400px; background: #2f313d;}
.top-content .container { width:1200px; margin:0 auto; padding: 60px 0;}
.top-content .container img { width:100%; height: auto;}


/* 메인 컨텐츠 레이아웃 */
.mainContents{width:1280px; max-width:1200px; margin:0 auto; overflow:hidden;clear:both; padding:60px 0;}

.port {width:1280px; margin:0 auto; color:#0f4c81; font-weight: bold; font-size: 3.75rem; line-height: 3.2rem; letter-spacing: -=0.03em; text-align: center; padding:80px 0 0; 0;}
.port h1 span { color: #000; display: block; font-size: 1.875rem; font-weight: 200; margin:0 0 10px;}


.mainContentsW100{width:100%; height:100%; clear:both;overflow:hidden;}
.mainContentsW100 h2{width:1280px; margin:0 auto; color:#fff; font-size: 3.75rem; line-height: 3.2rem; letter-spacing: -0.03em; text-align:center; padding-top:80px; margin-top:-10px}

.galleryBoxLat .galleryLatTit {display:none}
.latTitNone .galleryLat,
.latTitNone .galleryBoxLat{margin:0px;padding:0px;}
.latTitNone .galleryBoxLat ul{margin:0px;padding:0px;}
.latTitNone .galleryLat ul li,
.latTitNone .galleryBoxLat ul li{width:20%; /*메인_포트폴리오추가*/ border:1px solid #000000; }
.latTitNone .galleryLat .galleryLatTit,
.latTitNone .galleryBoxLat .galleryLatTit{height:1px;overflow:hidden;margin-top:-1px;}
.latTitNone.btnMoreNone .lt_more{display:none;} 

.contact-bg{background-color:#f3f3f3; padding-bottom:100px; padding-top:100px; } 
.contact-bg h2{width:1280px; margin:0 auto;color:#000; font-size:44px;font-family:'Noto Sans Korean',sans-serif;text-align:center}
.contact-bg p{width:1280px; margin:0 auto;font-size:16px;color:#666;line-height:1.5em;text-align:center; padding-bottom:50px}

.contact-section {
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
	height: 500px;
    position: relative;
	width:1280px;
	margin:0 auto;
/*     min-width: 960px; */
}
.contact-map {
    position: absolute;
	width:100%;
    top: 0;
    bottom: 0;
}
.contact-map .static-map {
    position: absolute;
    right: 0;
}



/* 2단레이아웃 */
.mainTwoLatArea{width:100%;margin:0 auto; overflow:hidden;}
.mainTwoLatArea .MTLA01,
.mainTwoLatArea .MTLA02{width:50%;float:left;margin-left:-1px;}


/* 3단레이아웃 */
.mainThreeLatArea{width:100%;margin:0 auto; overflow:hidden;}
.mainThreeLatArea .MTLA01,
.mainThreeLatArea .MTLA02,
.mainThreeLatArea .MTLA03{width:30%;float:left;margin-left:-1px;}
.mainThreeLatArea .MTLA02{margin:0 5%;}



/* 4단 레이아웃 */
.mainFourLatArea{width:100%;margin:0 auto; overflow:hidden;}
.mainFourLatArea .MTLA01,
.mainFourLatArea .MTLA02,
.mainFourLatArea .MTLA03,
.mainFourLatArea .MTLA04{width:25%;float:left;margin-left:-1px;}




/* 메인컨텐츠 상세 */
.centerBar{width:80px;height:5px;background:#ddd;margin:30px auto;}

.mainBasicCont01{width:1280px; margin:0 auto; padding:80px 20px;text-align:center; background:#fff;}
.mainBasicCont01 h2{color: #0f4c81;  font-size:3.75rem; line-height: 3.2rem; letter-spacing: -0.03em;}
.mainBasicCont01 h3{color:#000; font-size: 1.875rem; font-weight: 600;}
.mainBasicCont01 .MBC01txt{font-size: 1.25rem; font-weight: 200; line-height: 1.875rem;}





/* 어두운배경일 때 */
.background-dark{position:relative; 
    background: url("../img/bak2.png")no-repeat;
    background-size: cover;
	height:1000px;
}
.background-dark .webzLatTit a,
.background-dark .basicLatTit a,
.background-dark .qnaLatTit a{color:#fff;}
.background-dark ul li{}
.background-dark ul li a{color:#ddd;}



/* 밝은배경일 때 */
.background-light{background:#f3f4f7;}


/* 검정배경 */

.background-black{background:#252525;}




/* 매인 4단 아이콘 */
.main_figure_list{width:100%;height:700px; overflow:hidden;}
.main_figure_list li{width:33%; float:left; text-align:center;border-bottom:0px; padding-bottom:30px;}
.main_figure_list li i{color:#000; display:block;margin:10px auto; width:100px; height:100px; line-height:100px; border-radius:50%;background:#fff; font-size:3em;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
.main_figure_list li:hover i{/* background:#000;  color:#fff; */transform: rotate(360deg);-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
.main_figure_list li strong{display:block; font-size: 1.25rem; font-weight: bold; color:#fff; margin:10px;}
.main_figure_list li span{display:block; color:#fff; font-size: 1.15rem; line-height: 1.6rem; font-weight: 200; margin:5px;}



